.o-time {
    background-color:#808080;
    color: #ffffff;
    font-size: 12px;
}
.i-time {
    background-color: #0089db;
    color: #ffffff;
    font-size: 12px;
}
.comp-title {
    background-color: darkgray !important;
    color: #ffffff;
    font-weight: bold;
}
.h_team {
    font-weight: bold;
    font-size: 12px;
}
.g_team {
    font-weight: bold;
    font-size: 12px;
}
.draw {
    font-weight: bold;
    font-size: 12px;
}
.team-better {
    color: #ba0303 !important;
}
.bold-text {
    font-weight: bold;
    color: #000000;
    font-size: 12px;
}